@page "/"
@inject IJSRuntime JS

<button @onclick="() => dimension--">table--</button>
<button @onclick="() => dimension++">table++</button>
<button @onclick="() => squareSize--">cell--</button>
<button @onclick="() => squareSize++">cell++</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
(@(rowClicked + 1), @(columnClicked + 1))

<style>
    td {
        background-color: #f0f0f0;
        text-align: center;
        border: 1px black solid;
        border-collapse: collapse;
        user-select: none;
    }
</style>

<table>
    @for (int n = 0; n < dimension; n++)
    {
        int row = n;
        <tr>
            @for (int m = 0; m < dimension; m++)
            {
                int col = m;
                <td class="square" style="width: @(squareSize)px; height: @(squareSize)px" @onclick="()=> SquareCliked(row, col)">
                    @((n + 1) * (m + 1))
                </td>
            }
        </tr>
    }
</table>

@code
{
    int dimension = 10;
    int squareSize = 50;
}

